@charset 'utf-8';

/*开始公共导航*/
.j-header .conmon-nav-wrap{height: 30px;background: #E3E4E5;}
/*公共导航盒子*/
.conmon-nav-wrap .conmon-nav{width: 1190px;height: 30px;margin:auto;line-height:30px;}
/*左浮动*/
.conmon-nav > .fl{position: relative;height:30px;margin-left:200px;}
.conmon-nav > .fl:hover div{background:#fff;border-left:1px solid #ddd;border-right:1px solid #ddd;}
.conmon-nav > .fl:hover > div.area{z-index:1;display: block;}
.conmon-nav > .fl > div.place{z-index:2;width: 57px;height: 31px;border-left:1px solid transparent;border-right:1px solid transparent;text-align: center;line-height:31px;}
.conmon-nav > .fl > div.place .iconfont{vertical-align:middle;font-size:14px;color:red;}

.conmon-nav > .fl > div.area{display:none;top:29px;left:-1px;width: 302px;padding:10px;background: #fff;border:1px solid #ddd;}
.conmon-nav > .fl > div.area a{float: left;width: 40px;margin:0 10px;text-align: center;}
.conmon-nav > .fl > div.area a.fujian{background:#F10215;color:#fff;}
/*右浮动*/
.conmon-nav > ul.fr > li{position:relative;float: left;margin:0 5px;border:1px solid transparent;}
.conmon-nav > ul.fr > li.lis{width:0;height:10px;margin-top:10px;border:0.5px solid #ccc;}
.conmon-nav > ul.fr > li > a.register{margin-left:10px;color:red;}
.conmon-nav > ul.fr > li .iconfont{vertical-align:middle;margin-left:-2px;font-size:14px;}
.conmon-nav > ul.fr > li a:hover{color:#C81623;}

/*我的京东 二级菜单*/
.conmon-nav > ul.fr > li.com-menu > div{position: relative;z-index:5;height:30px;padding-left:5px;border-left:1px solid transparent;border-right:1px solid transparent;}
.conmon-nav > ul.fr > li.com-menu:hover div{background:#fff;border-left:1px solid #ddd;border-right:1px solid #ddd;}
.conmon-nav > ul.fr > li.com-menu > ul{display: none;position:absolute;top:29px;z-index:1;width: 280px;background: #fff;border:1px solid #ddd;}
.conmon-nav > ul.fr > li.com-menu > ul li{padding:10px 0 10px 15px;}
.conmon-nav > ul.fr > li.com-menu > ul li.menu-foot{border-top:1px solid #ddd;}
.conmon-nav > ul.fr > li.com-menu > ul li a{float: left;width: 126px;height: 24px;line-height: 24px;}
.conmon-nav > ul.fr > li.com-menu:hover > ul{display: block;}

/*客服服务	二级菜单*/
.conmon-nav > ul.fr > li.com-menu1 > ul{right:0;width: 170px;text-indent:15px;}
.conmon-nav > ul.fr > li.com-menu1 > ul li{padding:0;}
.conmon-nav > ul.fr > li.com-menu1 > ul li a{width: 75px;}
.conmon-nav > ul.fr > li.com-menu1 > ul li p{font-weight:bold;color:#666;}

/*网站导航	二级菜单*/
.conmon-nav > ul.fr > li.com-menu2 > ul{right:-88px;z-index:10;width: 1190px;padding:15px 0;border-top: transparent;}
.conmon-nav > ul.fr > li.com-menu2 > ul li{float: left;width: 255px;padding:0 0 0 20px;border-left:1px solid #ddd;}
.conmon-nav > ul.fr > li.com-menu2 > ul li.list-1{width: 340px;border:none;}
.conmon-nav > ul.fr > li.com-menu2 > ul li p{font-weight: bold;color:#666;}
.conmon-nav > ul.fr > li.com-menu2 > ul li a{width: 85px;}

/*手机京东*/
.conmon-nav > ul.fr > li.moblie-box{padding:0 5px;}
.conmon-nav > ul.fr > li.moblie-box > .moblie{position:absolute;top:29px;left:50%;margin-left:-34px;width: 68px;height: 68px;background: url('../images/header/1.png') no-repeat center/60px 60px #fff;border:1px solid #ccc;}
.conmon-nav > ul.fr > li.moblie-box > .moblie:before{content:'';position:absolute;top:-5px;left:50%;margin-left:-5px;width:0;height:0;border:5px solid transparent;border-top:none;border-bottom-color:#fff;}

/*手机京东	二级菜单*/

.conmon-nav > ul.fr > li.moblie-box:hover ul{display: block;}
.conmon-nav > ul.fr > li.moblie-box > ul{z-index:1;display: none;top:29px;right:-8px;width: 190px;background: #fff;border:1px solid #ddd;}
.conmon-nav > ul.fr > li.moblie-box > ul li{padding:10px 5px;border-bottom:1px solid #ddd;}
.conmon-nav > ul.fr > li.moblie-box > ul li img{width: 74px;height: 74px;border:1px solid #ccc;}
.conmon-nav > ul.fr > li.moblie-box > ul li div{margin-left:5px;line-height:1.5em;}
.conmon-nav > ul.fr > li.moblie-box > ul li div a{height: 16px;font-weight: bold;color:#666;}
.conmon-nav > ul.fr > li.moblie-box > ul li div p{width: 90px;height: 16px;color:red;}
.conmon-nav > ul.fr > li.moblie-box > ul li div .icon{float: left;width: 25px;height: 25px;margin-top:5px;background: url('../images/header/sprite_mobile@1x.png') no-repeat;}
.conmon-nav > ul.fr > li.moblie-box > ul li div .icon-1{background-position:0 -26px;}
.conmon-nav > ul.fr > li.moblie-box > ul li div .icon-2{background-position:0 -52px;}

/*开始导航*/
.j-middle-wrap .rightsidebar{top:0;right:0;width:35px;height:100%;}
/*上面*/
.rightsidebar ul.top{top:50%;right:0;margin-top:-90px;}
.rightsidebar ul > li{width:34px;height:35px;margin-bottom:1px;background: rgb(122,110,110);border-radius:3px;text-align:center;color:#fff;line-height:35px;}
.rightsidebar ul > li a.box{display: block;width: 100%;height: 100%;}
.rightsidebar ul > li a.hover{z-index:-1;left:0;top:0;width:60px;height:35px;background:#c81623;border-radius:3px 0 0 3px;font-size:12px;transition:0.5s 0.1s;text-align:center;line-height:35px;}
.rightsidebar ul > li:hover .box{background:#c81623;}
.rightsidebar ul > li:hover .hover{left:-60px;}
/*下面*/
.rightsidebar .fot{bottom: 0;right:0;}




