@charset 'utf-8';

/*开始搜索*/
.search-box{width: 1190px;height: 140px;margin:auto;}
/*开始logo*/
.search-box h1{bottom:0;left:0;z-index:1;width: 190px;height: 170px;background:url('../images/search/logo.v3.jpg') no-repeat;box-shadow:0 0 2px 1px #ccc;}
/*开始搜索框*/
.search-box .search{margin:25px 98px 0 0;}
.search-box .search input{width: 500px;height: 35px;border:1px solid red;text-indent:1em;}
.search-box .search button{width: 50px;height: 35px;background:#F10215;border:none;font-weight: bold;color:#fff;}
/*开始购物车*/
.search-box .search .shopp-box{width:190px;height:35px;margin-left:30px;background:#fff;border:1px solid #ddd;text-align: center;color:red;line-height: 35px;}
.search-box .search .shopp-box div.shopp{z-index:1;}
.search-box .search .shopp-box div.shopp-car{position:relative;}
.search-box .search .shopp-box:hover div.shopp-car{background:#fff;}
.search-box .search .shopp-box div.shopp-car i{margin-right:5px;}
.search-box .search .shopp-box div.shopp-car a:after{content:'0';position:absolute;width:14px;height:14px;margin:5px 5px ;background:#F10215;border-radius:50%;color:#fff;line-height:14px;}
.search-box .search .shopp-box div.shopp{display: none;top:34px;right:-1px;width:308px;height:70px;background: #fff;line-height:70px;color:#ccc;border:1px solid #ddd;}
.search-box .search .shopp-box:hover div.shopp{display: block;}
/*开始搜索导航*/
.search-box .search .search-nav{width: 550px;height: 20px;margin-top:-5px;}
.search-box .search .search-nav a{margin-right:7px;}
.search-box .search .search-nav a.nav-1{color:#C81623;}
/*开始菜单*/
.search-box .search-menu{bottom:0;left:50%;margin-left:-385px;width: 790px;height: 40px;font-size:16px;font-weight: bold;color:#666;line-height:40px;}
.search-box .search-menu a{float: left;margin:0 15px;}
.search-box .search-menu span{float: left;width:0;height:10px;margin:15px 5px 0;border:1px solid #ddd;}
.search-box .search-menu img{width: 30px;height: 18px;margin-left:-15px;}
/*开始banner*/
.search-box .search-banner{right:0;bottom:0;}



/*开始身体*/
.j-middle-wrap .mainnav-wrap{background:url('../images/mainnav/1.png') no-repeat center/cover;}
.mainnav-wrap .mainnav-box{width: 1190px;height: 480px;margin:auto;}
/*开始导航*/
.mainnav-wrap .mainnav-box > ul.mainnav{z-index:1;width: 190px;height: 450px;padding:15px 0;background:#6E6568;font-size:14px;text-indent:10px;color:#fff;}
.mainnav-wrap .mainnav-box > ul.mainnav > li{height: 28px;line-height: 28px;}
.mainnav-wrap .mainnav-box > ul.mainnav > li:hover div{display: block;}
.mainnav-wrap .mainnav-box > ul.mainnav > li:hover{background:#999395;}
.mainnav-wrap .mainnav-box > ul.mainnav > li > a:hover{color:#C81623;}
.mainnav-wrap .mainnav-box > ul.mainnav > li > span{font-size:12px;}
/*开始二级菜单*/
.mainnav-menu{display:none;top:0;left:190px;width:998px;height:500px;padding:20px 0 10px;background:#F7F7F7;font-size:12px;border:1px solid #ddd;}
.mainnav-menu .iconfont{font-size:12px;margin-left:5px;}
/*左边上面*/
.mainnav-menu .left-box{width: 800px;padding-left:20px;}
.mainnav-menu .left-box .top{height: 24px;line-height: 24px;}
.mainnav-menu .left-box .top a{float: left;margin-right:10px;padding:0 5px;background:#666;}
.mainnav-menu .left-box .top a:hover{background:#5C5251;}
/*左边下面*/
.mainnav-menu .left-box .under-box{margin-top:10px;}
.mainnav-menu .left-box .under-box .under{color:#666;}
.mainnav-menu .left-box .under-box .under dt{float:left;width:76px;text-align:right;font-weight:bold;line-height:40px;}
.mainnav-menu .left-box .under-box .under dd{float:left;width:700px;margin-left:10px;padding:5px 0;}
.mainnav-menu .left-box .under-box dl + dl > dd{border-top:1px solid #ddd;}
.mainnav-menu .left-box .under-box .under dd a{float:left;height:12px;margin:5px 0;padding-right:8px;border-left:1px solid #ddd;line-height:12px;}
.mainnav-menu .left-box .under-box .under a:hover{color:#C81623;}
/*右边上面*/
.mainnav-menu .right-box{width:168px;padding:0 0 0 1px;}
.mainnav-menu .right-box .top{width:168px;height:144px;}
.mainnav-menu .right-box .top > a{width:83px;margin:0 1px 1px 0;}
.mainnav-menu .right-box .top img{width:83px;height:35px;}
.mainnav-menu .right-box .under{width:168px;margin-top:10px;}
.mainnav-menu .right-box .under > a{width:168px;}
.mainnav-menu .right-box .under img{width:168px;height:134px;margin-bottom:1px;}

/*开始banner*/
.j-middle-wrap .mainnav-wrap .mainnav-box .banner-wrap{width: 790px;height: 470px;margin:0 10px;padding-top:10px;}
.banner-wrap .banner-left-box{overflow:hidden;width: 590px;}
.banner-wrap .banner-left-box:hover .banner-btn{display: block;}
.banner-wrap .banner-left-box .banner-left{width: 5000px;}
.banner-wrap .banner-left-box .banner-left > li{float: left;}
/*切换圆点*/
.banner-wrap .banner-left-box .banner-switch{bottom:20px;left:45px;width:152px;height:18px;}
.banner-wrap .banner-left-box .banner-switch > i{float: left;width:6px;height:6px;margin-top:4px;border:2px solid rgba(255,255,255,.6);border-radius:50%;}
.banner-wrap .banner-left-box .banner-switch > i.one{background:#fff;box-shadow:0 0 5px 5px rgba(255,255,255,.6);}
.banner-wrap .banner-left-box .banner-switch > i + i{margin-left:10px;}
.banner-wrap .banner-left-box .banner-switch > i:hover{background: #fff;box-shadow:0 0 5px 5px rgba(255,255,255,.6);}
/*开始左右按钮*/
.banner-wrap .banner-left-box .banner-btn{display: none;}
.banner-wrap .banner-left-box .banner-btn a{top:50%;margin-top:-12px;width:24px;height:40px;background:rgba(0,0,0,.3);text-align: center;line-height:40px;}
.banner-wrap .banner-left-box .banner-btn a + a{right:0;}
.banner-wrap .banner-left-box .banner-btn a:hover{background:rgba(0,0,0,.5);}
.banner-wrap .banner-left-box .banner-btn a i{width: 20px;height: 20px;color:#fff;}
/*右边*/
.banner-wrap .banner-right{width: 190px;}
.banner-wrap .banner-right img{margin-bottom:10px;}

/*开始login*/
.j-middle-wrap .login-wrap{width: 190px;height: 470px;margin-top:10px;background:#fff;}
/*login-top*/
.login-wrap .login-top-box{height: 160px;text-align: center;}
.login-wrap .login-top-box .login-top-one .img{top:-10px;}
.login-wrap .login-top-box .login-top-one img{widows: 80px;height:80px;border-radius:50%;}
.login-wrap .login-top-box .login-top-one a:hover{color:red;}
.login-wrap .login-top-box .login-top-two a{display: inline-block;width: 70px;height: 25px;border-radius:20px;box-shadow:3px 3px 5px 0 #eee;text-align: center;color:red;line-height:25px;}
.login-wrap .login-top-box .login-top-two a + a{margin-left:5px;background:#666;color:#d88c46;}
.login-wrap .login-top-box .login-top-two a:hover{background:#E01222;color:#fff;}
/*开始中间*/
.j-middle-wrap .login-wrap .login-middle-box{height: 150px;padding:0 15px;}
/*标题*/
.login-wrap .login-middle-box .title{padding-top:10px;}
.login-wrap .login-middle-box .title .fl{padding-right:15px;}
.login-wrap .login-middle-box .title .one span{border-bottom:2px solid #DB192B;}
.login-wrap .login-middle-box .title .fl + .fl{padding-left:15px;border-left:1px solid #ddd;}
.login-wrap .login-middle-box .title .fl:hover span{border-bottom:2px solid #DB192B;}
.login-wrap .login-middle-box .title .fr{margin-right:10px;}
.login-wrap .login-middle-box .title .fr:hover{color:red;}
/*内容*/
.login-wrap .login-middle-box .main{padding:15px 0;}
.login-wrap .login-middle-box .main p{height: 22px;line-height:22px;}
.login-wrap .login-middle-box .main p:hover a{color:red;}
/*开始下面*/
.j-middle-wrap .login-wrap .login-under-box{margin-left:-1px;overflow:hidden;text-align:center;}
.login-wrap .login-under-box > div{margin-left:-0.5px;}
.login-wrap .login-under-box > div a{float: left;width:46px;height:53px;border-top:1px solid #ddd;border-left:0.5px solid #ddd;}
.login-wrap .login-under-box > div a .iconfont{font-size: 24px;}
.login-wrap .login-under-box > div a p{margin-top:-3px;}
.login-wrap .login-under-box > div a:hover{color:red;}

/*开始秒杀*/
.j-middle-wrap .secKill-wrap{margin-top:60px;}
/*开始时间*/
.secKill-wrap .secKill-box{width: 1190px;height: 275px;margin:auto;}
.secKill-wrap .secKill-box .secKill-time{height:275px;}
.secKill-wrap .secKill-box .secKill-time a{float: left;width:190px;height:275px;background:#E83632;text-align:center;}
.secKill-wrap .secKill-box .secKill-time a h4{font-size: 34px;margin-top:40px;font-weight: normal;color:#fff;}
.secKill-wrap .secKill-box .secKill-time a p{font-size: 20px;color:#F39996;}
.secKill-wrap .secKill-box .secKill-time a .iconfont{font-size: 36px;color:#fff;}
.secKill-wrap .secKill-box .secKill-time a i + p{margin-bottom:20px;font-size: 16px;color:#fff;}
.secKill-wrap .secKill-box .secKill-time a p.time{color:#fff;}
.secKill-wrap .secKill-box .secKill-time a p.time span{padding:5px;background:rgba(0,0,0,.7);}
/*开始中间轮播图*/
.secKill-wrap .secKill-box .secKill-main-box{width:799px;overflow:hidden;}
.secKill-box .secKill-main-box .secKill-main{width:2000px;}
.secKill-box .secKill-main-box .secKill-main li{float: left;background:#fff;}
.secKill-box .secKill-main-box .secKill-main li a{float: left;width:190px;height:275px;padding:0 4.4px;border-right:1px solid #eee;text-align: center;}
.secKill-box .secKill-main-box .secKill-main li a img{margin-top:40px;}
.secKill-box .secKill-main-box .secKill-main li a p.describe{width: 160px;height: 30px;margin:10px auto;padding:0 10px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;line-height:30px;}
.secKill-box .secKill-main-box .secKill-main li a:hover p.describe{color:#C81623;}
.secKill-box .secKill-main-box .secKill-main li a p + p{width: 160px;margin:auto;border:1px solid red;}
.secKill-box .secKill-main-box .secKill-main li a p + p span{float: left;width: 80px;background:#E6382F;font-size: 14px;font-weight: bold;color:#fff;}
.secKill-box .secKill-main-box .secKill-main li a p + p del{float: left;padding-left:10px;}
/*开始左右按钮*/
.secKill-box .secKill-main-box .secKill-main-btn a{top:50%;margin-top:-20px;width:20px;height:40px;background:rgba(0,0,0,.3);text-align: center;line-height:40px;}
.secKill-box .secKill-main-box .secKill-main-btn a + a{right:0;}
.secKill-box .secKill-main-box .secKill-main-btn a:hover{background:rgba(0,0,0,.5);}
.secKill-box .secKill-main-box .secKill-main-btn a i{width: 20px;height: 20px;color:#fff;}
/*开始右边轮播图*/
.secKill-box .secKill-banner-box{width: 180px;padding:7.5px 10px;overflow:hidden;background:#fff;}
.secKill-banner-box .secKill-banner{width: 400px;}
.secKill-banner-box .secKill-banner > a{margin-right:10px;}
.secKill-banner-box .secKill-banner .secKill-btn{bottom:10px;left:80px;padding:3px 5px;}
.secKill-banner-box .secKill-banner .secKill-btn > a{width: 6px;height: 6px;background:#ccc;border-radius:50%;}
.secKill-banner-box .secKill-banner .secKill-btn > a + a{margin-left:5px;background:red;}

/*开始区块一*/
.j-middle-wrap .block-wrap{margin-top:30px;}
/*开始第一排*/
.block-wrap .block-box{width:1190px;height:480px;}
/*开始左边*/
.block-wrap .block-box .block{width: 390px;height: 450px;}
/*标题*/
.block-wrap .block-box .block .title{height: 40px;padding:10px 20px;font-weight:normal;}
.block-wrap .block-box .block .title .iconfont{font-size: 22px;color:red;}
.block-wrap .block-box .block .title span{vertical-align:middle;}
/*开始内容*/
.block-wrap .block-box .block .main-wrap{width:390px;}
/*内容标题*/
.block-wrap .block-box .block-left .main-wrap .main-title{height: 34px;background:#F7F7F7;line-height:34px;}
.block-wrap .block-box .block-left .main-wrap .main-title > a{float: left;width: 78px;text-align:center;}
/*内容*/
.block-wrap .block-box .block-left .main-wrap .main-box .main{width: 350px;height: 321px;margin:0 20px;overflow:hidden;border-bottom:1px solid #ddd;}
.block-wrap .block-box .block-left .main-wrap .main-box .main > ul{width: 1000px;}
.block-wrap .block-box .block-left .main-wrap .main-box .main > ul > li{height: 321px;}
.block-wrap .block-box .block-left .main-wrap .main-box .main > ul > li a{display: block;width: 350px;height: 107px;}
.block-wrap .block-box .block-left .main-wrap .main-box .main > ul > li a:hover{color:#E74240;}
.block-wrap .block-box .block-left .main-wrap .main-box .main > ul > li a div{width: 80px;height: 80px;margin-top:15px;}
.block-wrap .block-box .block-left .main-wrap .main-box .main > ul > li a .number{width: 30px;height: 40px;margin:35px 0 0 10px;font-size: 32px;color:#E74240;}
.block-wrap .block-box .block-left .main-wrap .main-box .main > ul > li a .name{width:225px;height:72px;margin-top:40px;}
/*圆点切换*/
.block-wrap .block-box .block .btn-box{width:390px;height:38px;text-align:center;line-height:38px;}
.block-wrap .block-box .block .btn-box a{display:inline-block;width:10px;height:10px;border:2px solid #ddd;border-radius:50%;}
.block-wrap .block-box .block .btn-box a.one{background:red;box-shadow:0 0 0 2px #FDD9DD;}
/*开始中间*/
.block-wrap .block-box .block-middle{margin:0 10px;}
.block-wrap .block-box .block-middle .main-wrap .main-box{width:350px;height: 355px;margin:0 20px;}
.block-wrap .block-box .block-middle .main-wrap .main-box .img{height:355px;background:#000;}
/*内容*/
.block-wrap .block-box .block-middle .main-wrap .main-box a .content{left: 0;bottom:0;width: 350px;height: 262px;background:rgba(0,0,0,.5);color:#fff;}
.block-wrap .block-box .block-middle .main-wrap .main-box a .content .img-wrap{height:90px;margin-top:50px;text-align:center;}
.block-wrap .block-box .block-middle .main-wrap .main-box a .content .img-wrap .img-box{display:inline-block;width:90px;height:90px;margin:0 10px;background:#fff;border-radius:50%;}
.block-wrap .block-box .block-middle .main-wrap .main-box a .content .img-wrap .img-box img{width:64px;height:64px;margin-top:13px;}
.block-wrap .block-box .block-middle .main-wrap .main-box a .content h4{height: 24px;margin-top:20px;text-align: center;}
.block-wrap .block-box .block-middle .main-wrap .main-box a .content h4 span.two{display: inline-block;width:135px;height: 24px;font-size:18px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.block-wrap .block-box .block-middle .main-wrap .main-box a h4 span.one-1{display: inline-block;width: 47px;height: 1px;margin:5px 5px;background: #fff;}
.block-wrap .block-box .block-middle .main-wrap .main-box a .content p{width: 235px;margin:10px auto;font-size: 14px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.block-wrap .block-box .block-middle .main-wrap .main-box a .content span.check{display: block;width: 80px;height: 20px;margin:auto;border:1px solid #fff;border-radius:10px;text-align: center;}
/*左右按钮*/
.block-box .block .main-btn{display: none;}
.block-box .block:hover .main-btn{display: block;}
.block-box .block .main-btn a{top:50%;margin-top:-20px;width:20px;height:40px;background:rgba(0,0,0,.3);text-align: center;line-height:40px;}
.block-box .block .main-btn a.fl{left:0;}
.block-box .block .main-btn a.fr{right:0;}
.block-box .block .main-btn a:hover{background:rgba(0,0,0,.5);}
.block-box .block .main-btn a i{width: 20px;height: 20px;color:#fff;}
/*开始右边*/
.block-one-box .block-right .main-wrap .main-box{height: 118px;margin:0 20px;}
.block-one-box .block-right .main-wrap .main-box > a{display:block;width: 100%;height:88px;padding:15px 0;background:#F6F6F6;border-radius:10px;}
.block-one-box .block-right .main-wrap .main-box > a:before{content:'';position:absolute;top:-8px;right:55px;width:16px;height:16px;background:#fff;border-radius:50%;}
.block-one-box .block-right .main-wrap .main-box > a:after{content:'';position:absolute;bottom:-8px;right:55px;width:16px;height:16px;background:#fff;border-radius:50%;}
.block-one-box .block-right .main-wrap .main-box > a > div > p{width:173px;margin-left:10px;}
.block-one-box .block-right .main-wrap .main-box > a > div > p + p{margin-bottom:5px;}
.block-one-box .block-right .main-wrap .main-box > a > div p.price{font-size:34px;color:red;line-height:34px;}
.block-one-box .block-right .main-wrap .main-box > a > div p.price span{font-size:14px;}
.block-one-box .block-right .main-wrap .main-box > a > div p.describe{font-size:14px;color:#666;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.block-one-box .block-right .main-wrap .main-box > a > div span.more{width:2px;margin-left:35px;font-size:14px;line-height:18px;color:#333;}
.block-one-box .block-right .main-wrap .margin-box-1 > a{background:#EEEFED;}
/*开始第二排*/
/*开始左边*/
.block-two-box .block .main-wrap .main-box{display:block;width:350px;height:355px;margin:0 20px;}
.block-two-box .block .main-wrap .main-box h5.title{width: 350px;height:50px;padding:0;overflow:hidden;line-height:50px;}
.block-two-box .block .main-wrap .main-box p{width: 350px;height: 40px;overflow:hidden;}
/*开始右边*/
.block-box .block-middle .main-wrap .main-box{border-top:1px solid #ddd;}
.block-box .block-middle .main-wrap .main-box > ul{width: 360px;}
.block-box .block-middle .main-wrap .main-box > ul > li{width: 110px;height: 112px;margin:5px;}
.block-box .block-middle .main-wrap .main-box > ul > li > a{display: block;width: 100%;height: 100%;text-align: center;}
.block-box .block-middle .main-wrap .main-box > ul > li > a > img{margin-top:10px;}
.block-box .block-middle .main-wrap .main-box > ul > li > a > p{width: 110px;height: 34px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;line-height:34px;}
/*开始右边*/
.block-two-box .block-right .main-wrap{width: 390px;height: 390px;}
.block-two-box .block-right .main-wrap .top{width: 350px;height: 250px;}
.block-two-box .block-right .main-wrap .under{width: 360px;height: 110px;margin-top:15px;}
.block-two-box .block-right .main-wrap .under > img{margin-right:5px;}

/*开始区块二*/
/*区块标题*/
.chunk-wrap .chunk-title-box{width: 1190px;}
.chunk-wrap .chunk-title-box .chunk-title{width:150px;height:45px;margin:0 auto 20px;text-align:center;font-weight:normal;}
.chunk-wrap .chunk-title-box .chunk-title:before{content:'';position:absolute;left:-50px;top:20px;width:50px;height:3px;background:#000;}
.chunk-wrap .chunk-title-box .chunk-title:after{content:'';position:absolute;right:-50px;top:20px;width:50px;height:3px;background:#000;}
/*区块内容*/
.chunk-wrap .chunk-main-wrap{width:1190px;height:480px;}
/*左边*/
.chunk-wrap .chunk-main-wrap .chunk-main-left{width:390px;height:450px;margin:0 10px 30px 0;}
.chunk-wrap .chunk-main-wrap .chunk-main-left .chunk-main{top:20px;width:350px;height:420px;border:5px solid #000;}
.chunk-wrap .chunk-main-wrap .chunk-main-left .chunk-main > a{top:-20px;width:340px;height:420px;margin-left:30px;}
/*中间*/
.chunk-wrap .chunk-main-wrap .chunk-main-middle{margin-right:10px;}
.chunk-wrap .chunk-main-wrap .chunk-main-box{width: 390px;height:450px;background:#fff;}
/*标题*/
.chunk-wrap .chunk-main-wrap .chunk-main-box .title{height:40px;padding:10px 20px;font-weight:normal;}
.chunk-wrap .chunk-main-wrap .chunk-main-box .title .iconfont{font-size: 22px;color:red;}
.chunk-wrap .chunk-main-wrap .chunk-main-box .title span{vertical-align:middle;}
/*内容*/
.chunk-wrap .chunk-main-wrap .chunk-main-box .chunk-main{width:370px;height: 380px;margin-left:20px;}
.chunk-wrap .chunk-main-wrap .chunk-main-box .chunk-main > a{display:inline-block;}
.chunk-wrap .chunk-main-wrap .chunk-main-box .chunk-main img.one{margin-bottom:10px;}
.chunk-wrap .chunk-main-wrap .chunk-main-box .chunk-main img.three{margin-left:10px;}
/*第二排*/
/*左边*/
.chunk-wrap .chunk-main-wrap .chunk-left-box{width:390px;height:450px;}
/*标题*/
.chunk-wrap .chunk-main-wrap .chunk-left-box .title-img{width:350px;height:60px;padding:0 20px;font-weight:normal;line-height:60px;}
.chunk-wrap .chunk-main-wrap .chunk-left-box .title-img > a{display:inline-block;}
.chunk-wrap .chunk-main-wrap .chunk-left-box .title-img a.img{border:1px solid #ddd;}
.chunk-wrap .chunk-main-wrap .chunk-left-box .title-img a.span{margin-left:5px;font-weight:normal;}
/*内容*/
.chunk-wrap .chunk-main-wrap .chunk-left-box .chunk-main{width:370px;height: 380px;margin-left:20px;}
.chunk-wrap .chunk-main-wrap .chunk-left-box .chunk-main > a{display:inline-block;margin-top:20px;}
.chunk-wrap .chunk-main-wrap .chunk-left-box .chunk-main > a + a{margin-right:20px;}
/*中间*/
.chunk-wrap .chunk-main-wrap .chunk-middle-box{width:390px;height:450px;margin:0 10px;}
.chunk-wrap .chunk-main-wrap .chunk-middle-box .chunk-main{width:150px;height:185px;padding:25px 20px 10px;text-align:center;}
.chunk-wrap .chunk-main-wrap .chunk-middle-box .chunk-main > a{display:block;}
.chunk-wrap .chunk-main-wrap .chunk-middle-box .chunk-main > a img{margin-bottom:10px;}
.chunk-wrap .chunk-main-wrap .chunk-middle-box .chunk-main > a p{width: 150px;height: 22px;font-size:14px;overflow:hidden;}
.chunk-wrap .chunk-main-wrap .chunk-middle-box .chunk-main > a p.two{color:#EA635C;}
.chunk-wrap .chunk-main-wrap .chunk-middle-box .chunk-main-one{margin:0 10px 10px 0;}
/*右边*/
.chunk-wrap .chunk-main-wrap .chunk-right-box{width:370px;height:430px;padding-left:20px;}
.chunk-wrap .chunk-main-wrap .chunk-right-box .chunkmain-box{top:20px;right:0;width:350px;height:420px;border:5px solid #000;}
.chunk-wrap .chunk-main-wrap .chunk-right-box .chunkmain-box > a{display:block;top:-25px;left:-15px;width: 340px;background:#F0F3EF;}
.chunk-wrap .chunk-main-wrap .chunk-right-box .chunkmain-box > a img + img{margin-top:20px;}

/*区块六 特色推荐*/
.chunk-wrap .cm-wrap{width: 1190px;margin:auto;}
.chunk-wrap .cm-wrap .cm-box{width:1190px;height:345px;overflow:hidden;}
.chunk-wrap .cm-wrap .cm-box .cm:hover .btn{display: block;}
.chunk-wrap .cm-wrap .cm-box .cm{width: 5000px;height:345px}
.chunk-wrap .cm-wrap .cm-box .cm > ul{width:;}
.chunk-wrap .cm-wrap .cm-box .cm > ul > li{width: 390px;height: 330px;background:#fff;}
.chunk-wrap .cm-wrap .cm-box .cm > ul > li + li{margin-left:10px;}
/*标题*/
.chunk-wrap .cm-wrap .cm-box .cm > ul > li .title{width:350px;height:60px;padding:0 20px;font-weight: normal;line-height:60px;}
.chunk-wrap .cm-wrap .cm-box .cm > ul > li .title > a i{font-size: 22px;color:red;}
.chunk-wrap .cm-wrap .cm-box .cm > ul > li .title > a span{color:;}
/*内容*/
.chunk-wrap .cm-wrap .cm-box .cm > ul > li > a{display: block;padding:0 20px;}
/*按钮*/
.chunk-wrap .cm-wrap .cm-box .cm .btn{display: none;}
.chunk-wrap .cm-wrap .cm-box .cm .btn a{top:50%;margin-top:-20px;width: 20px;height: 40px;background:rgba(0,0,0,.3);text-align: center;line-height:40px;}
.chunk-wrap .cm-wrap .cm-box .cm .btn a.one{left:0;}
.chunk-wrap .cm-wrap .cm-box .cm .btn a + a{right:0;}
.chunk-wrap .cm-wrap .cm-box .cm .btn a:hover{background:rgba(0,0,0,.5);}
.chunk-wrap .cm-wrap .cm-box .cm .btn a i{width: 20px;height: 20px;color:#fff;}
/*圆点切换*/
.chunk-wrap .cm-wrap .cm-btn{width:68px;height: 16px;margin:0 auto 10px;}
.chunk-wrap .cm-wrap .cm-btn > a{width:8px;height:8px;border:2px solid #ddd;border-radius:50%;}
.chunk-wrap .cm-wrap .cm-btn > a + a{margin-left:5px;}
.chunk-wrap .cm-wrap .cm-btn > a.one{width: 10px;height: 10px;background:#EB3436;box-shadow:0 0 2px 3px #FBDDE0;}

/*区块七 还没逛够*/
.chunk-wrap .chunkSeven-wrap .chunk-box{width:1200px;}
.chunk-wrap .chunkSeven-wrap .chunk-box > li{float:left;width:230px;height:305px;margin:0 10px 10px 0;background:#fff;}
.chunk-wrap .chunkSeven-wrap .chunk-box > li:hover p{color:#ddd;transition:0.3s;}
.chunk-wrap .chunkSeven-wrap .chunk-box > li:hover div.similarity{display:block;}
.chunk-wrap .chunkSeven-wrap .chunk-box > li > a{display:block;height:100%;}
.chunk-wrap .chunkSeven-wrap .chunk-box > li img{margin:30px;}
.chunk-wrap .chunkSeven-wrap .chunk-box > li p{width: 198px;height:24px;margin:auto;text-align:center;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.chunk-wrap .chunkSeven-wrap .chunk-box > li p > span{color:#f10214;}
.chunk-wrap .chunkSeven-wrap .chunk-box > li div.similarity{display:none;bottom:20px;left:50%;width:60px;height:60px;margin-left:-30px;background:#222;border-radius:50%;text-align: center;color:#fff;line-height:60px;}

/*底部*/
.j-footer .footer-wrap{width:1190px;}
/*底部上面*/
.footer-wrap ul.footer-top{padding:30px 0;border-bottom:1px solid #ccc;}
.footer-wrap ul.footer-top > li{width:297px;height:42px;background: url('../images/footer/1.png') no-repeat 35px 0;font-size:18px;font-weight:bold;text-indent:5em;color:#555;line-height:42px;}
.footer-wrap ul.footer-top > li.two{background-position:35px -43px;}
.footer-wrap ul.footer-top > li.three{background-position:35px -86px;}
.footer-wrap ul.footer-top > li.four{background-position:35px -129px;}
/*底部中间*/
.j-footer .footer-wrap .footer-middle{padding:20px 0;border-bottom:1px solid #ccc;}
.j-footer .footer-wrap .footer-middle > li{width:198px;}
.j-footer .footer-wrap .footer-middle > li > h6{height: 25px;color:#555;font-weight:block;}
.j-footer .footer-wrap .footer-middle > li > a{display:block;height:20px;line-height:20px;}
.j-footer .footer-wrap .footer-middle > li > a:hover{color:#C81623;}
.j-footer .footer-wrap .footer-middle > li.last{width:200px;height:150px;background: url('../images/footer/footer.png') no-repeat;}
.j-footer .footer-wrap .footer-middle > li.last p{width: 180px;}
.j-footer .footer-wrap .footer-middle > li.last a{text-align:right;}
/*底部下面*/
.footer-wrap .footer-bot-box{margin-bottom:30px;padding:15px 0;text-align:center;}
.footer-wrap .footer-bot-box > p > span{margin:0 7px;}
.footer-wrap .footer-bot-box > div > p{height: 22px;line-height:22px;}
.footer-wrap .footer-bot-box > div > p > span{margin:0 7px;}
.footer-wrap .footer-bot-box > div > p.copy{margin-top:15px;}
.footer-wrap .footer-bot-box > div > p.copy a{display: inline-block;width:103px;height:32px;margin:0 2.5px;background: url('../images/footer/footer.png') no-repeat 0 -150px;}
.footer-wrap .footer-bot-box > div > p.copy a.two{background-position:-104px -150px;}
.footer-wrap .footer-bot-box > div > p.copy a.three{background-position:0 -183px;}
.footer-wrap .footer-bot-box > div > p.copy a.four{background-position:-104px -183px;}
.footer-wrap .footer-bot-box > div > p.copy a.five{background-position:0 -216px;}
.footer-wrap .footer-bot-box > div > p.copy a.six{background-position:-104px -216px;}



